{% extends "webapp/base.html" %}
{% load static %}

{% block content %}        
    
    <main>
        <section id="instruments">
            <div class="image">
                <h3>Duduks</h3>
                <img src="static/webapp/img/duduk.jpg" alt="duduk" width="150" height="auto">
                <p>The duduk or tsiranapogh (Armenian: ծիրանափող, meaning “apricot-made wind instrument”), is an ancient Armenian double reed woodwind instrument made of apricot wood. It is indigenous to Armenia. Variations of the Armenian duduk appear throughout the Caucasus and the Middle East, including Azerbaijan, Georgia, Russia, Turkey, and Iran.[4][5] Duduk, Balaban, and Mey are almost identical, except for historical and geographical differences.[6]</p>
                <h4>280€</h4>
            </div>
            <div class="image">
                <h3>Digeridoos</h3>
                <img src="static/webapp/img/digeridoo1.jpg" alt="digeridoo" width="150" height="auto">
                <p>The didgeridoo (spelt didjeridu, among other variants) is a wind instrument, played with vibrating lips to produce a continuous drone while using a special breathing technique called circular breathing. The didgeridoo was developed by Aboriginal peoples of northern Australia at least 1,000 years ago, and is now in use around the world, though still most strongly associated with Indigenous Australian music. In the Yolŋu languages of the indigenous people of northeast Arnhem Land the name for the instrument is the yiḏaki, or more recently by some, mandapul. In the Bininj Kunwok language of West Arnhem Land it is known as mako.[1]</p>
                <h4>220€</h4>
            </div>
            <div class="image">
                <h3>Kalimbas</h3>
                <img src="static/webapp/img/kalimba1.jpg" alt="kalimba" width="150" height="auto">
                <p>Mbira (əm-BEER-ə) are a family of musical instruments, traditional to the Shona people of Zimbabwe. They consist of a wooden board (often fitted with a resonator) with attached staggered metal tines, played by holding the instrument in the hands and plucking the tines with the thumbs (at minimum), the right forefinger (most mbira), and sometimes the left forefinger. Musicologists classify it as a lamellaphone, part of the plucked idiophone family of musical instruments. In Eastern and Southern Africa, there are many kinds of mbira, often accompanied by the hosho, a percussion instrument. It is often an important instrument played at religious ceremonies, weddings, and other social gatherings. The "Art of crafting and playing Mbira/Sansi, the finger-plucking traditional musical instrument in Malawi and Zimbabwe" was added to the UNESCO Representative List of the Intangible Cultural Heritage of Humanity in 2020.[1]</p>
                <h4>100€</h4>
            </div>
        </section>
    </main>
{% endblock %}